{
  "passPerPreset": true,
  "presets": [
    { "plugins": "../_resources/babelRelayPlugin.js" },
    "react-native",
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-react-constant-elements"
  ]
}
